{% extends 'basic.html' %}

{% block title %}About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 dark"><b>vCoder!</b></h1>
        <p><b>vCoder</b> is a <b>blog</b> dedicated to those who create and maintain websites: <b>web developers, web designers, webmasters</b>, and so on.

Our aim is to make web development easier and more fun by providing high-quality resources and useful tutorials to our readers. The blog has been founded by <b>Rishabh pachori</b> in <b>March 2020</b>.<b>vCoder</b> provides free guides, tutorials, and articles about web development, WordPress and web design. All content on the site is free of charge for our readers.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
            <img src="/media/images/rishabh.jpg" width="200px" height="200px" class="rounded-circle"/>
          <h2>About Author & Founder</h2>
          <p>Hi, I'm Rishabh Pachori, the Founder of vCoder and author of "vCoder blog". </p>
          <p>As a software developer, I often found that people tend to have a way of making things appear more complex than they really are.</p>
          <p>I originally started vCoder in March,2020 as a personal blog where I tried to distill what I was learning into simple, easily understandable content.</p>
        <p>Today, vCoder is focused on helping software developers, programmers and other IT professionals improve their careers and live better lives.</p>
        <p>You'll find the content at vCoder to be holistic in nature.

          That means you are just as likely to find articles about improving your career as you are to find articles about developing your people skills, getting in shape and tackling the mental aspects of being a software developer.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>

      </div>
  
  
    </div> <!-- /container -->
  
  </main>

{% endblock body %}

